<app-error-msg></app-error-msg>
<app-painel-simples titulo="Produtos" col="12" tipo="default" >
  <div class="form-group row">
    <button class="btn btn-primary add" routerLink="/produtos/cadastro">Novo Produto</button>
    <input placeholder="Pesquise o nome do produto..." [(ngModel)]="nome" type="text" name="nome" class="form-control col-md-6">
    <button (click)="getListaProdutos(pageNumb,nome)" class="btn btn-success col-md-1"><i class="fas fa-search"></i></button>
  </div>
  <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos | filter: filter;">
          <td>{{produto.id}}</td>
          <td>{{produto.nome}}</td>
          <td>{{produto.valorUnitario | currency:'BRL':true:'1.2-2'}}</td>
          <td><button type="button" class="btn btn-success btn-sm" routerLink="/produtos/editar/{{produto.id}}" ><i class="fas fa-pencil-alt"></i></button></td>
          <td><button [disabled]="produto.itensPedidos.length > 0" type="button" class="btn btn-danger btn-sm" (click)="deletaProduto(produto.id)" ><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!existemProdutos()">
      <span class="badge badge-info">Nenhum produto cadastrado</span>
    </div>
    <div class="text-center">
      <i *ngIf="page.number" (click)="getListaProdutos(page.number -1, nome)" class="fas fa-angle-double-left"></i>
      <label [ngClass]="page.number === i? 'atual': ''" class="number" (click)="getListaProdutos(i, nome)" *ngFor="let i of totalPages()">{{i+1}}</label>
      <i *ngIf="page.number < page.totalPages -1" (click)="getListaProdutos(page.number +1, nome)" class="fas fa-angle-double-right"></i>
    </div>
</app-painel-simples>