<app-painel-simples titulo="{{title}}" col="12" tipo="default">
  <form #f="ngForm" (ngSubmit)="onSubmit()" >
    <div class="row">
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input type="text" name="nome" #nome="ngModel" [(ngModel)]="produto.nome" [class.is-invalid]="!nome.valid && nome.touched" id="nome"   
        class="form-control"  required />
        <div *ngIf="!nome.valid && nome.touched" class="text-danger">
            Informe o nome do produto
        </div>
      </div>
      <div  class="form-group col-md-6">
          <label for="valorUnitario">Valor Unitário</label>
          <input  type="number" #valorUnitario="ngModel" [(ngModel)]="produto.valorUnitario" [class.is-invalid]="!valorUnitario.valid && valorUnitario.touched" id="valorUnitario" name="valorUnitario"
           class="form-control" currencyMask    required/>
           <div *ngIf="!valorUnitario.valid && valorUnitario.touched" class=" text-danger">
              Informe o valor do produto
          </div>
      </div>
      <div class="form-group col-md-12">
        <button type="submit" [disabled]="!f.valid" class="btn btn-success">Cadastrar</button>
        <button class="btn btn-light" routerLink="/produtos">Voltar</button>
      </div>
    </div>
  </form>
</app-painel-simples>