<app-error-msg></app-error-msg>
<app-painel-simples titulo="Mesas" col="12" tipo="default">
  <div class="row form-group">
    <button class="btn btn-primary mr-4" routerLink="/mesas/cadastro">Nova Mesa</button>
    <input placeholder="Pesquise..." class="form-control col-md-10" type="text" name="search" [(ngModel)]="filter">
  </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mesa of mesas | filter:filter;">
          <td>{{mesa.id}}</td>
          <td>{{mesa.nome}}</td>
          <td>{{mesa.descricao}}</td>
          <td><button type="button" class="btn btn-success btn-sm" routerLink="/mesas/editar/{{mesa.id}}" ><i class="fas fa-pencil-alt"></i></button></td>
          <td><button [disabled]="mesa.pedidos.length > 0" type="button" class="btn btn-danger btn-sm" (click)="deletaMesa(mesa.id)"  ><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!existemMesas()">
      <span class="badge badge-info">Nenhuma mesa cadastrada</span>
    </div>
</app-painel-simples>


