.badge{
    font-size: 15px;
}

.number{
    font-size: 15px;
    cursor: pointer;
    padding: 2px 10px;
    border: 1px solid black;
}

.atual{
    background-color: #007bff;   
    color: white;
}

.fas.fa-angle-double-right, .fas.fa-angle-double-left{
    font-size: 15px;
    cursor:pointer;
    padding: 5px 10px;
    border: 1px solid black;
}

.add{
    margin-right: 100px;
}